{% extends 'main/layoute.html' %}

{% block title %}
    <title>О нас</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>О нас</h1>
    <hr>

    <h2>Наша миссия</h2>
    <p>Мы - команда энтузиастов, разработчиков, дизайнеров и авторов, объединенных одной целью - помочь людям максимально эффективно использовать возможности Django для реализации своих веб-проектов. Наш сайт создан с целью предоставить актуальную и полезную информацию о Django, обучающие материалы и поддержку сообщества разработчиков.</p>


    <h2 class="mt-4">Чем мы занимаемся</h2>
    <p>Наш сайт предоставляет доступ к широкому спектру материалов о Django, включая:</p>
    <ul>
        <li>Последние новости и обновления фреймворка.</li>
        <li>Обучающие руководства и курсы для разработчиков всех уровней.</li>
        <li>Советы по оптимизации и расширению возможностей ваших Django-проектов.</li>
    </ul>

    <h2 class="mt-4">Наши ценности</h2>
    <p>Мы верим, что качественное программное обеспечение должно быть доступно каждому, и что образование играет ключевую роль в достижении технологического прогресса. В своей работе мы придерживаемся следующих принципов:</p>
    <ul>
        <li>Открытость и доступность образовательных ресурсов.</li>
        <li>Поддержка и развитие сообщества разработчиков Django.</li>
        <li>Стремление к непрерывному обучению и усовершенствованию.</li>
    </ul>
</div>
{% endblock %}