{% extends 'main/layoute.html' %}

{% block title %}
    <title>Блог о разработке на Django</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Блог о разработке на Django</h1>
    <hr>
    <article class="mb-4">
        <h2>Погружение в Django: Основы</h2>
        <p class="text-muted">Опубликовано 10 января 2022</p>
        <p>В этой статье мы рассмотрим основные концепции Django и покажем, как быстро создать свое первое приложение. Для начинающих разработчиков с Django это будет отличной отправной точкой.</p>
        <a href="#" class="btn btn-outline-primary">Читать далее</a>
    </article>

    <article class="mb-4">
        <h2>Работаем с моделями в Django</h2>
        <p class="text-muted">Опубликовано 25 февраля 2022</p>
        <p>Модели являются одной из ключевых концепций в Django. В этой статье мы исследуем, как создавать и работать с моделями, чтобы управлять данными вашего приложения эффективно и интуитивно понятно.</p>
        <a href="#" class="btn btn-outline-primary">Читать далее</a>
    </article>

    <article class="mb-4">
        <h2>Как использовать Django Templates</h2>
        <p class="text-muted">Опубликовано 15 марта 2022</p>
        <p>Шаблонизатор Django облегчает работу с фронтендом, позволяя разработчикам быстро создавать интерфейсы. Узнайте, как использовать систему шаблонов Django для создания динамических веб-страниц.</p>
        <a href="#" class="btn btn-outline-primary">Читать далее</a>
    </article>

    <article class="mb-4">
        <h2>Аутентификация и разрешения в Django</h2>
        <p class="text-muted">Опубликовано 5 апреля 2022</p>
        <p>Безопасность – ключевая часть любого веб-приложения. В этой статье мы рассмотрим, как управлять пользователями, аутентификацией и разрешениями в вашем проекте на Django.</p>
        <a href="#" class="btn btn-outline-primary">Читать далее</a>
    </article>
</div>
{% endblock %}