{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная страница сайта о Django</title>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>Сайт предлагает широкий спектр информации, ресурсов и функций, которые были разработаны, чтобы сделать ваш опыт наиболее информативным и полезным. Мы посвящены предоставлению качественного контента, который соответствует вашим потребностям и интересам.</p>
    <p>Наша миссия — создать пространство, где каждый может найти что-то полезное для себя, будь то обучающие материалы, последние новости в мире технологий или советы по саморазвитию. Мы стремимся быть вашим первым выбором в поисках информации.</p>
    <p>Команда наших авторов — профессионалы с глубокими знаниями в своих областях. Они делают сложные вещи понятными и доступными, чтобы вы могли получать новые знания легко и с удовольствием.</p>
    <p>Мы ценим отзывы и предложения наших читателей и всегда открыты к диалогу. Если у вас есть что сказать, не стесняйтесь обращаться к нам через форму обратной связи на сайте. Ваше мнение помогает нам становиться лучше.</p>
    <p>Спасибо, что выбрали наш сайт. Мы надеемся, что вы найдете здесь много полезного и интересного. Возвращайтесь к нам снова и снова!</p>
</div>
{% endblock %}